$space-between: 2rem;

footer {
  padding: $space-between 0;
  background-color: var(--bg-light);
  
  > div {
    @include text-container;

    * {
      font-size: .8rem;
    }
  }

  .manifestos {
    margin-bottom: $space-between;
  }

  span:not(:last-of-type)::after {
    content: " • ";
  }

  .title {
    @include header-font($weight: 600, $family: sans-serif-condensed, $size: 18px);
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 90ch) {
  footer {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
