@mixin header-font($style: normal, $weight: 300, $family: sans-serif, $size: 1rem) {
  font-size: $size;
  font-weight: $weight;
  font-style: $style;
  @if $family == serif {
    font-family: "PT Serif", serif;
  } @else if $family == sans-serif {
    font-family: "Fira Sans", sans-serif;
  } @else if $family == sans-serif-condensed {
    font-family: "Fira Sans Condensed", sans-serif;
  }
}

nav {
  background: linear-gradient(white 85%, transparent);
  display: flex;
  justify-content: space-between;
  vertical-align: top;
  padding: 1.5rem;
  padding-bottom: 2rem;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;

  &.nav--home {
    position: absolute;
    background: transparent;
  }
}

nav .site-name {
  @include header-font(italic, 200, sans-serif);
  white-space: nowrap;

  span {
    @include header-font(normal, 700, serif);
    margin-left: 0.25em;
  }
}

nav > ul {
  padding: 0;

  > li {
    display: inline-block;
    margin-right: 2rem;

    > a {
      @include header-font($weight: 700, $family: sans-serif-condensed);
      text-transform: uppercase;
      &:hover {
        text-decoration: none;
      }
    }

    @media screen and (min-width: 90ch) {
      &:hover {
        .nav-submenu-container {
          display: block;
        }
      }
    }
    &:hover > a {
      color: var(--flag-blue);
      @include underline-red;
    }
  }
}

.nav-submenu-container {
  display: none;
  position: absolute;

  .nav-submenu {
    margin-top: 1rem;
    padding: 1.5rem;
    background-color: var(--bg-light);
    border-radius: 0.5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 1rem;

    li {
      .manifesto {
        font-weight: bold;
      }
      .candidate-party {
        font-style: italic;
      }
    }
  }
}

@media screen and (max-width: 1270px) {
  header nav {
    position: static;
    margin-top: 0;

    li:nth-child(3) {
      display: none;
    }
  }
}
