@mixin header-font($style: normal, $weight: 300, $family: sans-serif) {
  font-size: 24px;
  font-weight: $weight;
  font-style: $style;
  @if $family == serif {
    font-family: "PT Serif", serif;
  } @else if $family == sans-serif {
    font-family: "Fira Sans", sans-serif;
  } @else if $family == sans-serif-condensed {
    font-family: "Fira Sans Condensed", sans-serif;
  }
}

nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}

nav .site-name {
  @include header-font(italic, 200, sans-serif);

  span {
    @include header-font(normal, 700, serif);
    margin-left: 0.25em;
  }
}

nav > ul {
  padding: 0;

  > li {
    display: inline-block;
    margin-right: 2rem;

    > a {
      @include header-font($weight: 700, $family: sans-serif-condensed);
      text-transform: uppercase;
      &:hover {
        text-decoration: none;
      }
    }

    &:hover {
      .nav-submenu-container {
        display: block;
      }

      > a {
        color: var(--flag-blue);
        background: linear-gradient(to top, var(--flag-red) 0%, var(--flag-red) 3px, transparent 3px) no-repeat;
      }
    }
  }
}

.nav-submenu-container {
  display: none;
  position: absolute;

  .nav-submenu {
    max-height: 300px;
    overflow: -moz-scrollbars-vertical; 
    overflow: scroll;
    margin-top: 1rem;
    padding: 1.5rem;
    background-color: var(--bg-light);
    border-radius: 0.5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;

    li {
      .manifesto {
        font-weight: bold;
      }
      .candidate-party {
        font-style: italic;
      }
    }
  }
}

@media all and (max-width: 500px) {
  nav ul {
    flex-direction: column;
  }

  nav li {
    width: 100%;
  }
}
