@mixin text-container {
  max-width: 80ch;
  margin: auto;
}

@mixin underline-red {
  background: linear-gradient(to top, var(--flag-red) 0%, var(--flag-red) 0.15rem, transparent 0.15rem) no-repeat;
}
