@import "./base";

.container {
  display: grid;
  min-height: 100vh;
  place-items: center;
}

.container h1 {
  margin: 0 0 2rem 0;
}

.title-word {
  font-size: 3rem;
  font-style: italic;
  font-weight: 200;
}

.title-year {
  font-family: "PT Serif", serif;
  font-size: 3.5rem;
  font-weight: 700;
  margin-left: 0.25em;
}

.abstract {
  @include text-container;
  margin-bottom: 1rem;
}

@mixin link-button($bg-color) {
  display: block;
  width: fit-content;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  color: white;
  background-color: $bg-color;
  margin-bottom: 1rem;
}

.link--programmes {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 0.25rem;
  font-size: 1.25rem;
  color: var(--flag-blue);

  &:hover {
    text-decoration: none;
    @include underline-red;
  }
}

.link--candidates {
  @include link-button(var(--flag-red));
}

@media screen and (max-width: 90ch) {
  .center-block {
    margin: 0 1rem;
  }

  .container {
    .title-word {
      font-size: 2rem;
    }
    .title-year {
      font-size: 2.25rem;
    }
  }
}

.milestones {
  display: flex;
  margin-bottom: 1.5rem;

  .milestone {
    font-weight: bold;
    color: var(--grey);

    &:not(&:first-child) {
      margin-left: 1rem;
    }

    em {
      font-style: normal;
      font-weight: bold;
      color: var(--flag-red);
    }
  }

  @media screen and (max-width: 420px) {
    flex-direction: column;

    & .milestone:not(& .milestone:first-child) {
      margin-left: 0;
    }
  }
}
