@import './base.scss';


.container--manifesto-intro {
  background-color: var(--bg-light);
  padding: 3rem 0;
}

.manifesto-menu {
  position: fixed;
  top: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
  left: 2em;
  z-index: 3;

  * {
    padding-bottom: 5px;
  }

  h2 {
    line-height: 25px;
    font-weight: bold;
    color: #A38585;
  }

  a {
    display: block;
  }
}

.manifesto-intro {
  @include text-container;

  h1 {
    font-family: "PT Serif", serif;
    font-weight: 700;
    margin-bottom: .25rem;
  }

  .manifesto-summary {
    font-weight: 300;
  }

  .candidate-party {
    font-family: "Fira Sans", sans-serif;
    font-style: italic;
    font-weight: 300;
  }

  img.party {
    height: 160px;
  }

  img.candidate {
    position: absolute;
    top: 3em;
    right: 16em;
    width: 200px;
    height: 200px;
    border-radius: 100%;
  }
}

.container--manifesto-paragraphs {
  padding: 2rem 0;
}

.manifesto-paragraphs {
  @include text-container;
}

.manifesto-paragraph {

  div.title-full-width {
    position: sticky;
    top: 0;
    z-index: 2;
    margin-left: calc(-100vw / 2 + 80ch / 2);
    margin-right: calc(-100vw / 2 + 80ch / 2);
    background-color: var(--bg-light);
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
  }

  h1 {
    margin: 0.4em;
    color: var(--grey);
    font-size: 2rem;
    font-family: "PT Serif", serif;
    font-weight: 700;
  }

  h2,
  h3 {
    margin-bottom: 1rem;
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
  }

  h2 {
    color: var(--flag-red);
    font-size: 1.25rem;
    margin-top: 1.5rem;
    text-transform: uppercase;
  }

  h3 {
    margin-top: 1rem;
    color: var(--grey);
    font-size: 1rem;
  }

  h3::before {
    content: '▶';
    color: var(--flag-blue);
    font-size: .75rem;
    margin-bottom: 1rem;
    margin-left: -1.4rem;
    margin-top: .1rem;
    margin-right: .5rem;
    position: absolute;
  }

  p,
  h3 {
    margin-left: 1.5rem;
  }

  li {
    list-style-type: disc;
    margin-left: 2rem;
  }
}


p {
  margin-bottom: .5rem;
}

.manifesto-intro>h2,
.manifesto-paragraphs>h1 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: .25rem;
  font-size: 1.25rem;
  color: var(--flag-blue);
}