@import "./base.scss";

main#content {
  margin-top: 4rem;
}

.title-container {
  @include text-container;

  h1 {
    font-family: "PT Serif", serif;
    font-weight: 700;
    margin-bottom: 0.25rem;
  }
}

.manifesto-toc {
  grid-area: "toc";
  position: sticky;
  margin-top: 7rem;
  top: 5rem;
  margin-right: 3rem;
  align-self: start;

  @media screen and (max-width: 1270px) {
    & {
      display: none;
    }
  }

  a:first-child:hover {
    text-decoration: none;
  }

  * {
    font-size: 16px;
    padding-bottom: 5px;
  }

  h2 {
    line-height: 25px;
    font-weight: bold;
    color: #a38585;
  }

  h2.title {
    text-transform: uppercase;
  }

  a {
    display: block;
    width: fit-content;
  }
}

.container--manifesto-paragraphs {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 20rem 80ch 20rem;
  grid-template-areas: "toc content";
  justify-content: center;

  @media screen and (max-width: 1500px) {
    grid-template-columns: 20rem 80ch;
  }

  @media screen and (max-width: 1270px) {
    grid-template-areas: "content";
    grid-template-columns: minmax(100%, 80ch);
  }
}

.manifesto-paragraphs {
  grid-area: "content";
  @include text-container;
}

.manifesto-paragraph {
  h1 {
    text-align: center;
    padding-top: 5rem;
    margin-bottom: 2rem;
    color: var(--flag-blue);
    font-size: 2rem;
    font-family: "PT Serif", serif;
    font-weight: 700;

    @media screen and (max-width: 1270px) {
      display: none;
    }
  }

  h2,
  h3 {
    margin-bottom: 1rem;
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
  }

  h2 {
    color: var(--flag-red);
    font-size: 1.25rem;
    margin-top: 1.5rem;
    text-transform: uppercase;
  }

  h3,
  details {
    margin-top: 1rem;
    color: var(--grey);
    font-size: 1rem;
    font-weight: bold;
    position: relative;
  }

  h3::before {
    content: "\2023";
    color: var(--flag-blue);
    margin-left: -1.1rem;
    margin-right: 0.5rem;
    position: absolute;
  }

  p,
  h3 {
    margin-left: 1.2rem;
  }

  li {
    list-style-type: disc;
    margin-left: 2rem;
  }

  ol,
  ul {
    margin-bottom: 1rem;
  }
}

p {
  margin-bottom: 0.5rem;
}

.manifesto-intro > h2,
.manifesto-paragraphs > h1 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 0.25rem;
  font-size: 1.5rem;
  color: var(--flag-blue);
}

details {
  h3 {
    cursor: pointer;
  }

  &:hover h3 {
    color: var(--flag-blue);
  }
}

details[open] {
  background-color: var(--bg-light);
  padding: 0.5rem;
  padding-left: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;

  h3 {
    color: var(--flag-blue);
  }

  p {
    color: black;
  }
}

.breadcrumb {
  display: none;
  position: sticky;
  top: 0;

  @media screen and (max-width: 1270px) {
    margin-top: 5px;
    display: block;
    background: linear-gradient(white 85%, transparent);
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    z-index: 2;

    div {
      font-family: "PT Serif", serif;
      font-size: 1.2rem;
      color: var(--flag-blue);
    }
  }

  > div {
    font-weight: bold;
  }
}

.hint {
  font-style: italic;
  margin-top: 1rem;
}

@media screen and (max-width: 90ch) {
  .container--manifesto-intro,
  .container--manifesto-paragraphs {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .manifesto-intro {
    margin-top: 6rem;

    img.candidate {
      top: -14rem;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: center;
    }
  }
}

@media screen and (max-width: 50ch) {
  .manifesto-intro img.party {
    width: 100%;
  }
}
