@import "./base.scss";

main#content {
  margin-top: 4rem;
}

.title-container {
  @include text-container;

  h1 {
    font-family: "PT Serif", serif;
    font-weight: 700;
    margin-bottom: 0.25rem;
  }
}

ul.manifesto-list {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 25rem 25rem;
  grid-template-rows: repeat(5, 1fr);
  place-content: center;
  margin: 2rem;

  li {
    color: var(--grey);

    a {
      display: block;
      padding: 1rem;
    }

    a:hover,
    a:active {
      color: var(--flag-blue);
      text-decoration: none;
      background-color: var(--bg-light);
      border-radius: 0.5rem;
    }

    .manifesto {
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 1000px) {
  .title-container {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  ul.manifesto-list {
    display: block;
  }
}
