.container--manifesto-intro {
  background-color: var(--bg-light);
  padding: 3rem 0;
}

.manifesto-intro {
  @include text-container;

  h1 {
    font-family: "PT Serif", serif;
    font-weight: 700;
    margin-bottom: .25rem;
  }

  .manifesto-summary {
    font-weight: 300;
  }

  .candidate-party {
    font-family: "Fira Sans", sans-serif;
    font-style: italic;
    font-weight: 300;
  }
}
